.App {
    text-align: center;
}

.elementOfSort {
    margin: 0 5px 6vh;
}

.table {
    margin: 0 15vw 3vh;
    text-align: center;
    width: 70vw;
}

.page {
    margin: 0 15px 10vh;
    cursor: pointer;
}

.currentPage {
    font-weight: bold;
}

.noWrap {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 10px;
}